// tabbar样式
$tabbarHeight: 100px;
$tabbarColor: #969DAA;
$tabbarSelectedColor: #333;



:export {
  tabbarHeight: $tabbarHeight;
  tabbarColor: $tabbarColor;
  tabbarSelectedColor: $tabbarSelectedColor;
}