.list {
  background: white;
}

.item {
  transition: all 1s;
}
.img {
  width: 150px;
  height: 150px;
  transition: all 1s;
  background: #f7f7f7;
}

.loading {
  height: 100Px;
  text-align: center;
  line-height: 100Px;
  color: red;
}